Module_02/Implementing_a_Model_Failover_Strategy/step_functions_state_machine.asl.json
{
  "Comment": "Demo: Model Failover Strategy — Primary: Amazon Nova 2 Lite, Fallback: Claude Haiku 4.5",
  "StartAt": "InvokePrimaryModel",
  "States": {

    "InvokePrimaryModel": {
      "Type": "Task",
      "Comment": "Step 1: Try Amazon Nova 2 Lite (primary). Retry on throttling before failing over.",
      "Resource": "arn:aws:states:::bedrock:invokeModel",
      "Parameters": {
        "ModelId": "us.amazon.nova-2-lite-v1:0",
        "ContentType": "application/json",
        "Accept": "application/json",
        "Body": {
          "messages": [
            {
              "role": "user",
              "content": [
                {
                  "text.$": "$.prompt"
                }
              ]
            }
          ],
          "inferenceConfig": {
            "max_new_tokens": 512
          }
        }
      },
      "ResultSelector": {
        "modelUsed": "Amazon Nova 2 Lite",
        "response.$": "$.Body.output.message.content[0].text"
      },
      "ResultPath": "$.result",
      "Retry": [
        {
          "Comment": "Retry up to 2 times on throttling with exponential backoff",
          "ErrorEquals": ["Bedrock.ThrottlingException", "Bedrock.ServiceUnavailableException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "Comment": "Any error after retries — fall back to Claude Haiku 4.5",
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.primaryError",
          "Next": "InvokeFallbackModel"
        }
      ],
      "Next": "SuccessState"
    },

    "InvokeFallbackModel": {
      "Type": "Task",
      "Comment": "Step 2: Nova 2 Lite failed — fall back to Claude Haiku 4.5.",
      "Resource": "arn:aws:states:::bedrock:invokeModel",
      "Parameters": {
        "ModelId": "us.anthropic.claude-haiku-4-5-20251001-v1:0",
        "ContentType": "application/json",
        "Accept": "application/json",
        "Body": {
          "anthropic_version": "bedrock-2023-05-31",
          "max_tokens": 512,
          "messages": [
            {
              "role": "user",
              "content.$": "$.prompt"
            }
          ]
        }
      },
      "ResultSelector": {
        "modelUsed": "Claude Haiku 4.5 (fallback)",
        "response.$": "$.Body.content[0].text"
      },
      "ResultPath": "$.result",
      "Retry": [
        {
          "Comment": "Retry Haiku once on throttling",
          "ErrorEquals": ["Bedrock.ThrottlingException", "Bedrock.ServiceUnavailableException"],
          "IntervalSeconds": 3,
          "MaxAttempts": 1,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "Comment": "Both models failed — surface a clear error",
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.fallbackError",
          "Next": "BothModelsFailed"
        }
      ],
      "Next": "SuccessState"
    },

    "SuccessState": {
      "Type": "Succeed",
      "Comment": "Return whichever model responded successfully."
    },

    "BothModelsFailed": {
      "Type": "Fail",
      "Error": "AllModelsUnavailable",
      "Cause": "Both Amazon Nova 2 Lite (primary) and Claude Haiku 4.5 (fallback) failed to respond."
    }

  }
}
